@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;700&family=Merriweather:wght@400;700&family=Be+Vietnam+Pro:wght@400;600&family=JetBrains+Mono:wght@400;600&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
    --primary : #5b3475;
    --bg-hover : rgb(215, 213, 213) ;
    --border-avatar : #1e1e1e;
    --footer : #e5e5e5 ;
    --bg-table-head : #F3F4F6 ;
    --border-footer : #ccc ;
    --bg-active : #5f436fa0 ;
    --border-table: #1e1e1e ; 
  }
}

html{
  padding: 0 0 ;
  margin: 0 ; 
  width: 100% ; 
  height: 100% ;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 ;
  margin: 0 ; 
  width: 100% ; 
  height: 100% ;
}

.clip-trp {
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}

.rc-md-editor .editor-container .sec-md {
  font-size: 18px; /* 👈 chỉnh cỡ chữ bên soạn thảo */
  line-height: 1.8;
}

.rc-md-editor .editor-container textarea {
  font-size: 18px;
  line-height: 1.8;
}


.loader {
  width: 60px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#007acc 0 0);
  background:
    var(--c) 0 38px,
    var(--c) right 18px bottom 18px,
    var(--c) right 18px top 18px,
    var(--c) 18px 18px,
    var(--c) 18px 100%,
    var(--c) 100% 100%,
    var(--c) 100% 0,
    var(--c) 0 0;
  animation:
    l8-1 2s infinite,
    l8-2 2s infinite;
}
@keyframes l8-1 {
  0%     {background-size:0 4px,4px 0,0 4px,4px 0,0 4px,4px 0,0 4px,4px 0}
  6.25%  {background-size:40px 4px,4px 0,0 4px,4px 0,0 4px,4px 0,0 4px,4px 0}
  12.5%  {background-size:40px 4px,4px 20px,0 4px,4px 0,0 4px,4px 0,0 4px,4px 0}
  18.75% {background-size:40px 4px,4px 20px,20px 4px,4px 0,0 4px,4px 0,0 4px,4px 0}
  25%    {background-size:40px 4px,4px 20px,20px 4px,4px 40px,0 4px,4px 0,0 4px,4px 0}
  31.25% {background-size:40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 0,0 4px,4px 0}
  37.5%  {background-size:40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,0 4px,4px 0}
  43.75% {background-size:40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 0}
  48%,52%{background-size:40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  56.25% {background-size:0 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  62.5%  {background-size:0 4px,4px 0,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  68.75% {background-size:0 4px,4px 0,0 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  75%    {background-size:0 4px,4px 0,0 4px,4px 0,40px 4px,4px 100%,100% 4px,4px 40px}
  81.25% {background-size:0 4px,4px 0,0 4px,4px 0,0 4px,4px 100%,100% 4px,4px 40px}
  87.5%  {background-size:0 4px,4px 0,0 4px,4px 0,0 4px,4px 0,100% 4px,4px 40px}
  93.75% {background-size:0 4px,4px 0,0 4px,4px 0,0 4px,4px 0,0 4px,4px 40px}
  100%   {background-size:0 4px,4px 0,0 4px,4px 0,0 4px,4px 0,0 4px,4px 0}
}
@keyframes l8-2 {
  0%,49.9% {background-position:0 38px,right 18px bottom 18px,right 18px top 18px,18px 18px,18px 100%,100% 100%,100% 0,0 0}
  50%,100% {background-position:right 18px bottom 18px,right 18px top 18px,18px 18px,18px 100%,100% 100%,100% 0,0 0,bottom 18px left 0}
}


.split {
  display: flex;
  height: 100%;
}

.gutter {
  background-color: #E0E0E0;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.2s;
}

.gutter:hover {
  background-color: #007ACC;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}


/* ================================================= */

* {
  scrollbar-width: thin;
}


/* .markdown-screen pre {
  background: #f6f8fa;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.85rem;
}

.markdown-screen code {
  font-family: "JetBrains Mono", monospace;
} */


